<app-main-skeleton [bottomBarHidden]="selectionTitle">

    <app-main-top-nav-bar navbar [config]="selectionTitle ? selectionBarConfig : null" >
        {{ selectionTitle || 'Bilder' }}
    </app-main-top-nav-bar>

    <div cdkSelectableContainer #selectableContainer *ngIf="images$ | async; let images; else loading"
        (selectionChanged)="onSelectionChange($event)" class="image-container">

        <app-selectable-card *ngFor="let img of images;trackBy: trackByImg"
            class="image" [id]="img.id" selectedText="Bilde valgt">
       
                <img appImageErrorPlaceholder alt="oppdragsbilde" data-cy="mission-image-item"
                    [appImageRatioResizer]="img.fileName | appImageUrlRatio" 
                    [src]="img.fileName | appFileUrl : FileFolder.MissionImageThumbnail" 
                    (tap)="openImageViewer(img, images)" /> 
     
        </app-selectable-card>  

    </div>

    <app-bottom-action-bar bottombar
        [fab]="actionFab" 
        [actions]="bottomActions">
    </app-bottom-action-bar>

</app-main-skeleton>

<input type="file" style="display:none" multiple #imageInput (change)="uploadImages($event.target.files)" data-cy="mission-image-list-upload">

<ng-template #loading>
    <app-fetching-model-content modelProp="missionImages"></app-fetching-model-content>
</ng-template>