
<app-main-skeleton *ngIf="filteredMissions$ | async; let filtered" navTogglerDisabled=true contentWrapperClass="p-0">

    <ng-container navbar>
  
      <app-main-top-nav-bar  [appHide]="!searchBarHidden" [config]="navConfig"> 
        Oppdrag
      </app-main-top-nav-bar>

      <app-search-bar 
        [hidden]="searchBarHidden"  
        [config]="searchBar" 
        [extraButtons]="searchBarBtns">
      </app-search-bar>

      <app-chips-bar [chips]="filtered.criteriaChips"></app-chips-bar>

    </ng-container>

    <app-mission-list-view *ngIf="filtered.missions?.length; else loading" [missions]="filtered.missions">
    </app-mission-list-view>

    <app-bottom-action-bar bottombar
      [fab]="actionFab" 
      [actions]="bottomActions">
    </app-bottom-action-bar>

  </app-main-skeleton>

  <ng-template #loading>
    <app-fetching-model-content modelProp="missions"></app-fetching-model-content>
  </ng-template>






