<style>
    :host {
        height:100%;
        display:flex;
        flex-direction: column;
    }
    google-map{
        display: flex;
        flex: 1 1 0;
    }
    button { height: 50px; }
    .no-user-position-text{ text-align: center }
</style>
<ng-container *ngIf="{userPosition: userPosition$ | async} as values">

    <google-map height="auto" width="100%" [zoom]="8" 
    [center]="(values.userPosition?.coords || mission?.position) | appConvertToGooglePosition" 
    (mapClick)="updateSelectedMarker($event)">

        <map-marker #userMarker="mapMarker"
            [position]="values.userPosition?.coords | appConvertToGooglePosition"
            [options]="userPositionMarkerOptions"
            (mapClick)="openInfoWindow(userMarker, 'Min posisjon')">
        </map-marker>
        
        <map-marker *ngIf="mission?.position" #missionMarker="mapMarker"
            [position]="mission!.position | appConvertToGooglePosition"
            [options]="missionMarkerOptions"
            (mapClick)="openInfoWindow(missionMarker, 'Oppdragets nåværende posisjon')">
        </map-marker>

        <map-marker *ngIf="selectedPosition" #selectedMarker="mapMarker"
            [position]="selectedPosition"
            [options]="selectedPositionMarkerOptions"
            (mapClick)="openInfoWindow(selectedMarker, 'Markert posisjon')">
        </map-marker>

        <map-info-window></map-info-window>

    </google-map>

    <button mat-button *ngIf="values.userPosition; else noPosition"
        (click)="submitPosition(values.userPosition.coords.latitude, values.userPosition.coords.longitude)">
        Bruk min posisjon
    </button>

    <ng-template #noPosition>
        <div class="no-user-position-text mat-body-2 p-3">Del posisjon med nettleseren for å velge din nåværende posisjon.</div>
    </ng-template>

    <mat-divider></mat-divider>

    <button mat-button [disabled]="!selectedPosition" 
        (click)="submitPosition(selectedPosition?.lat, selectedPosition?.lng)">
        Bruk markert posisjon
    </button>

</ng-container>
