<app-main-skeleton *ngIf="filteredMissions$ | async; let filtered" contentWrapperClass="bottom-bar-padding">

    <ng-container navbar>
  
      <app-main-top-nav-bar  [appHide]="!searchBarHidden" [config]="navConfig"> 
        Kart
      </app-main-top-nav-bar>

      <app-search-bar 
        [hidden]="searchBarHidden"  
        [config]="searchBar" 
        [extraButtons]="searchBarBtns">
      </app-search-bar>

      <app-chips-bar [chips]="filtered.criteriaChips"></app-chips-bar>

    </ng-container>

    <app-mission-map-view [missions]="filtered.missions"></app-mission-map-view>

</app-main-skeleton>






